{% extends 'base.html.twig' %}

{% block title %} Liste des auteurs {% endblock %}

{% block body %}
    <h1>Liste des auteurs</h1>
    <ul>
        {% for author in authors %}
            <li>
                <a href="{{ path('app_author_posts', { id: author.id }) }}">{{ author.nickname }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
