{% extends 'base.html.twig' %}

{% block title %} {{ 'author.index_page.title' | trans }} {% endblock %}

{% block body %}
    <h1>{{ 'author.index_page.title' | trans }}</h1>
    <ul>
        {% for author in authors %}
            <li>
                <a href="{{ path('app_author_posts', { id: author.id }) }}">{{ author.nickname }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
