<aside>
    <h1>Profil de {{ author.nickname }}</h1>
    <p>Il a écrit au total {{ count }} publications</p>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto assumenda, at deserunt distinctio ea harum itaque libero nam natus necessitatibus nobis non, odit omnis reprehenderit, saepe sapiente sit unde.
    </div>
</aside>
