{% extends 'base.html.twig' %}

{% block header %}
<ul>
    <li><a href="{{ path('app_admin_locale_select', {_locale: 'fr'}) }}">Français</a></li>
    <li><a href="{{ path('app_admin_locale_select', {_locale: 'en'}) }}">English</a></li>
</ul>
{% endblock %}
