<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des articles</title>
</head>
<body>
<h1>Liste des articles</h1>
<p>
    {# ci après des interpolations #}
    {{ twig_variable_name }}
    1 + 1 = {{ 1 + 1 }}

    {% if app.debug %}
        {# toutes mes variables #}
        {{ dump() }}
    {% endif %}
</p>
</body>
</html>