{% extends 'base.html.twig' %}

{% block title %} Liste des articles {% endblock %}

{% block body %}
<h1>Liste des articles</h1>
<ul>
    {% for post in posts %}
    <li><a href="{{ path('app_post_detail', { id: post.id }) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
