{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ path('app_post_detail', { id: post.id }) }}">{{ post.title }}</a>
                <a href="{{ path('app_admin_post_update', { id: post.id }) }}">{{ 'site.action.edit' | trans }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
